---
# Reference:
# - Icon:
#   + https://github.com/homarr-labs/dashboard-icons/tree/main/png
#   + https://simpleicons.org/ (For si- prefix icons)

{% set nextcloud = (docker_services | selectattr('name', 'equalto', 'nextcloud') | list | first) | default(None) %}
{% set grafana = docker_services | selectattr('name', 'equalto', 'grafana') | first %}
{% set prometheus = docker_services | selectattr('name', 'equalto', 'prometheus') | first %}
{% set npm = docker_services | selectattr('name', 'equalto', 'npm') | first %}
{% set portainer = docker_services | selectattr('name', 'equalto', 'portainer') | first %}

- Monitoring:
  - Grafana:
      icon: si-grafana-#F46800
      href: https://grafana.{{ public_domain_name }}
      description: Analytics platform for dashboards
      siteMonitor: {{ grafana.forward_scheme | default('http') }}://{{ grafana.forward_host }}:{{ grafana.forward_port }}
      widget:
        type: {{ grafana.name }}
        version: 2
        url: {{ grafana.forward_scheme | default('http') }}://{{ grafana.forward_host }}:{{ grafana.forward_port }}
        username: {{ ansible_user }}
        password: {{ ansible_password }}
{% for host in groups['all'] %}
{% if 'containers' in hostvars[host].group_names or host == 'KVM-SRV01' %}
  - Prometheus ({{ hostvars[host].computer_name }}):
      icon: si-prometheus-#E6522C
      href: https://prometheus.{{ public_domain_name }}
      description: {{ 'Linux' if 'containers' in hostvars[host].group_names else 'Windows' }} Node
      siteMonitor: {{ prometheus.forward_scheme | default('http') }}://{{ prometheus.forward_host }}:{{ prometheus.forward_port }}
      widget:
        type: prometheusmetric
        url: {{ prometheus.forward_scheme | default('http') }}://{{ prometheus.forward_host }}:{{ prometheus.forward_port }}
        refreshInterval: 10000
        metrics:
{% if 'containers' in hostvars[host].group_names %}
          - label: CPU
            query: 100 - (avg(irate(node_cpu_seconds_total{instance="{{ hostvars[host].ansible_host }}:9100", mode="idle"}[5m])) * 100)
            format:
              type: percent
          - label: Memory
            query: (1 - (node_memory_MemAvailable_bytes{instance="{{ hostvars[host].ansible_host }}:9100"} / node_memory_MemTotal_bytes{instance="{{ hostvars[host].ansible_host }}:9100"})) * 100
            format:
              type: percent
          - label: Uptime
            query: node_time_seconds{instance="{{ hostvars[host].ansible_host }}:9100"} - node_boot_time_seconds{instance="{{ hostvars[host].ansible_host }}:9100"}
            format:
              type: duration
{% else %}
          - label: CPU
            query: 100 - (avg(irate(windows_cpu_time_total{instance="{{ hostvars[host].ansible_host }}:9182", mode="idle"}[5m])) * 100)
            format:
              type: percent
          - label: Memory
            query: 100 * (1 - (windows_memory_physical_free_bytes{instance="{{ hostvars[host].ansible_host }}:9182"} / windows_memory_physical_total_bytes{instance="{{ hostvars[host].ansible_host }}:9182"}))
            format:
              type: percent
          - label: Uptime
            query: time() - windows_system_boot_time_timestamp{instance="{{ hostvars[host].ansible_host }}:9182"}
            format:
              type: duration
{% endif %}
{% endif %}
{% endfor %}

- Networking:
  - Nginx Proxy Manager:
      icon: si-nginxproxymanager-#F15833
      href: https://npm.{{ public_domain_name }}
      description: Reverse proxy for host forwarding
      siteMonitor: {{ npm.forward_scheme | default('http') }}://{{ npm.forward_host }}:{{ npm.forward_port }}
      widget:
        type: {{ npm.name }}
        url: {{ npm.forward_scheme | default('http') }}://{{ npm.forward_host }}:{{ npm.forward_port }}
        username: "{{ domain_admin_user }}"
        password: "{{ domain_admin_password }}"
{% for device in tailscale_devices %}
  - Tailscale ({{ device.name }}):
      icon: si-tailscale-#242424
      href: https://login.tailscale.com/admin/machines
      description: VPN on {{ device.name }}
      siteMonitor: https://login.tailscale.com/admin/machines
      widget:
        type: tailscale
        deviceid: {{ device.id }}
        key: {{ tailscale_api_key }}
{% endfor %}

- Management:
  - Nextcloud:
      icon: si-nextcloud-#0082C9
      href: https://nextcloud.{{ public_domain_name }}
      description: Self-hosted cloud storage & collaboration
      siteMonitor: {{ nextcloud.forward_scheme | default('http') }}://{{ nextcloud.forward_host }}:{{ nextcloud.forward_port }}/status.php
      widget:
        type: nextcloud
        url: {{ nextcloud.forward_scheme | default('http') }}://{{ nextcloud.forward_host }}:{{ nextcloud.forward_port }}
        username: "{{ ansible_user }}"
        password: "{{ ansible_password }}"
{% for env in portainer_environments %}
  - Portainer ({{ env.name }}):
      icon: si-{{ portainer.name }}-#13BEF9
      href: "https://portainer.{{ public_domain_name }}/#!/{{ env.id }}/docker/dashboard"
      description: "{{ env.name }} environment"
      siteMonitor: "{{ portainer.forward_scheme | default('http') }}://{{ portainer.forward_host }}:{{ portainer.forward_port }}/#!/{{ env.id }}/docker/dashboard"
      widget:
        type: {{ portainer.name }}
        url: "{{ portainer.forward_scheme | default('http') }}://{{ portainer.forward_host }}:{{ portainer.forward_port }}"
        env: {{ env.id }}
        key: "{{ portainer_access_token }}"
        ignoreSsl: true
{% endfor %}
